/* evergarden summer */
$red: #c0696b;
$orange: #ca8c70;
$yellow: #cbae75;
$green: #a9be88;
$aqua: #91bb9c;
$skye: #8fbab5;
$blue: #8ca4bb;
$purple: #b19ac6;
$pink: #d0a3c3;
$text: #171c1f;
$subtext1: #415055;
$subtext0: #526469;
$overlay2: #63787d;
$overlay1: #758a90;
$overlay0: #879da4;
$surface2: #9cb2b8;
$surface1: #b4c6cc;
$surface0: #ced9e0;
$base: #e9ebf0;
$mantle: #e1e5ed;
$crust: #d6dbe9;
