/* evergarden summer */
$red: #c0696b;
$orange: #c1866b;
$yellow: #bc9c6b;
$green: #91ac75;
$aqua: #7baa92;
$skye: #79a39b;
$blue: #8ca0bb;
$purple: #ab9ac6;
$pink: #ca9ebd;
$text: #171c1f;
$subtext1: #415055;
$subtext0: #526469;
$overlay2: #63787d;
$overlay1: #758a90;
$overlay0: #879da4;
$surface2: #9cb2b8;
$surface1: #b4c6cc;
$surface0: #ced9e0;
$base: #d7e1eb;
$mantle: #c8d5e1;
$crust: #bdcbdb;
