/* evergarden spring */
$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #b2c98f;
$aqua: #93c9a1;
$skye: #97c9c3;
$blue: #9bb5cf;
$purple: #d6a0d1;
$pink: #e3a8d1;
$text: #dddecf;
$subtext1: #caccbe;
$subtext0: #94aaa0;
$overlay2: #839e9a;
$overlay1: #738a8b;
$overlay0: #617377;
$surface2: #4f5e62;
$surface1: #3d494d;
$surface0: #313b40;
$base: #2b3538;
$mantle: #232a2e;
$crust: #1c2225;
